# -*- mode: conf -*-

[Unit]
Description=Export BIND(named/dns) v9+ service metrics to Prometheus.
Documentation=https://github.com/digitalocean/bind_exporter
After=network.target

[Service]
EnvironmentFile=-/etc/default/bind_exporter
User=prometheus
ExecStart=/usr/bin/bind_exporter $BIND_EXPORTER_OPTS
Restart=on-failure

[Install]
WantedBy=multi-user.target
